{
  "name": "com.[company-name:Lower].[package-name:Lower]",
  "version": "1.0.0",
  "displayName": "[package-name]",
  "description": "This is an example package",
  "unity": "2019.4",
  "dependencies": {
 },
 "keywords": [
  ],
  "author": {
    "name": "[author.name]",
    "email": "[author.email]",
    "url": "[author.url]"
  }
}
